streamlit
opencv-python
numpy
torch
torchvision
Pillow
matplotlib
ultralytics
libgl1-mesa-glx
opencv-python-headless

ipython  # interactive notebook
psutil  # system utilization
thop>=0.1.1  # FLOPs computation
streamlit